.list-scrollable {
    /* 57, 64, 49 **/
    height: calc(100vh - 140px);
    overflow-y: scroll;
}
.albumart {
    width: 100%;
    height: auto;
}
.table.tracks {
    table-layout: fixed;
}
.tracks .tracknum {
    width: 10%;
    text-align: right;
}
.tracks .trackname {
    width: 70%;
}
.tracks .tracklength {
    width: 20%;
}
