.list-scrollable {
    /* 57, 64, 49 **/
    height: calc(100vh - 190px);
    overflow-y: scroll;
}
/*.flexcolumn {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.flexcolumn-stretch {
    align-items: stretch;
}
.scroll-y {
    overflow-y: scroll;
}*/
