html,
body,
div#root {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    overflow: hidden !important;
}

.content-wrapper.tab-content {
    background-color: #0c0d16;
}
.content-wrapper .row {
    margin-left: 0;
    margin-right: 0;
}
.content-wrapper .row .col-1,
.content-wrapper .row .col-2,
.content-wrapper .row .col-3,
.content-wrapper .row .col-4,
.content-wrapper .row .col-5,
.content-wrapper .row .col-6,
.content-wrapper .row .col-7,
.content-wrapper .row .col-8,
.content-wrapper .row .col-9,
.content-wrapper .row .col-10,
.content-wrapper .row .col-11,
.content-wrapper .row .col-12,
.content-wrapper .row .col-md-1,
.content-wrapper .row .col-md-2,
.content-wrapper .row .col-md-3,
.content-wrapper .row .col-md-4,
.content-wrapper .row .col-md-5,
.content-wrapper .row .col-md-6,
.content-wrapper .row .col-md-7,
.content-wrapper .row .col-md-8,
.content-wrapper .row .col-md-9,
.content-wrapper .row .col-md-10,
.content-wrapper .row .col-md-11,
.content-wrapper .row .col-md-12 {
    padding-left: 6px;
    padding-right: 6px;
}

.navbar .nav-link {
    color: #f97515;
}
/**
 * 全ボタン
 */
.wrapper .btn {
    padding: 0.375rem 0.375rem;
}

.main-header.navbar.border-bottom {
    border-bottom: 1px solid #4b545c !important;
}
/**
 * サイドバー等
 */
.main-sidebar.sidebar-dark-warning .sidebar .inner-sidebar {
    margin-bottom: 58px;
}

.albumart {
    width: 100%;
    height: auto;
}
.row.volume-box {
    margin-left: -4px;
}
.row.volume-box .col-1,
.row.volume-box .col-10 {
    padding-left: 4px;
    padding-right: 4px;
}
/**
 * サイドバー
 */
.main-sidebar.sidebar-dark-warning {
    background-color: #05050b;
    border-right: 1px solid #4b545c;
}
.main-sidebar.sidebar-dark-warning .brand-link {
    background-color: #05050b;
    border-right: 1px solid #4b545c;
    border-bottom: none;
}
.main-sidebar.sidebar-dark-warning .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #f97515;
    color: #1F2D3D;
}
.main-sidebar.sidebar-dark-warning .btn.btn-warning {
    color: #1F2D3D;
}

.siderbar-control .volume-button {
    padding-top: 19px;
}
.siderbar-control .volume-min {
    text-align: right;
}
.siderbar-control .volume-max {
    text-align: left;
}

/**
 * 各種リスト
 */
.card .card-header .card-title {
    margin-bottom: 0;
}
.plain-list li {
    border-top: 1px solid #282542;
    border-bottom: none !important;
    padding: 4px 8px;
    transition: all 0.3s ease-in-out;
    color: #e5dfff;
}
.plain-list li:hover {
    background-color: #1f1c40;
    cursor: pointer;
}
.plain-list li.selected {
    background-color: #171135;
    color: #ffffff;
}
.plain-list li.selected:hover {
    background-color: #171525;
    color: #c4c2ca;
}
.card-tools .text-filter {
    width: 120px;
}
.card-body.list-scrollbox {
    /* 57, 64, 49 **/
    height: calc(100vh - 140px);
    overflow-y: hidden;
}
.card-inner-body {
    width: 100%;
    height: 100%;
}
/**
 * Finder-アルバムリスト
 */
.nav-item.albumtrack .card {
    /* border線の分だけ縮める */
    width: calc(100% - 4px);
    margin-left: 1px;
}
.table-hover.table.tracks {
    table-layout: fixed;
    color: #e5dfff;
}
.table-hover.table.tracks tbody tr {
    transition: all 0.3s ease-in-out;
}
.table-hover.table.tracks tbody tr:hover {
    background-color: #1f1c40;
    color: #c4c2ca;
}
.table-hover.tracks .tracknum {
    width: 40px;
    text-align: right;
}
.table-hover.tracks .trackname {
    width: auto;
}
.table-hover.tracks .tracklength {
    width: 50px;
}
.table-hover.tracks .trackoperation {
    width: 40px;
}

.albumtrack .dropdown-menu .dropdown-item {
    color: #e4e2ff !important;
}
.albumtrack .header-dropdown {
    max-width: 200px;
}
.albumtrack .header-dropdown .slimScrollDiv,
.albumtrack .header-dropdown .inner-header-dorpdown {
    max-height: 50vh;
    max-width: 200px;
}
.albumtrack .row-dropdown .slimScrollDiv,
.albumtrack .row-dropdown .inner-row-dorpdown {
    max-height: 40vh;
    max-width: 200px;
}
/**
 * プレイリスト-トラックリスト
 */
.playlist-track .title-input {
    max-width: 300px;
    margin-top: -3px !important;
    margin-bottom: -4px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.card-body.list-scrollbox .products-list > .item.track-row {
    border-radius: 0;
    border-top: 1px solid #282542;
}
.card-body.list-scrollbox .products-list > .item.track-row {
    background-color: #32334a;
}
.card-body.list-scrollbox .products-list > .item.track-row:hover {
    background-color: #1f1c40;
    cursor: pointer;
}
.card-body.list-scrollbox .products-list > .item.track-row.selected {
    background-color: #171135;
}
.card-body.list-scrollbox .products-list > .item.track-row.selected:hover {
    background-color: #171525;
}
.track-row.selected:hover .product-title {
    color: #000000;
}
.track-row.selected:hover .product-description {
    color: #f5f5f5;
}
.track-row.selected .product-title {
    color: #ffffff;
}
.track-row.selected .product-description {
    color: #dcdcdc;
}
.products-list .product-title.length {
    font-weight: 400;
}
.track-row,
.track-row * {
    transition: all 0.3s ease-in-out;
}

.track-list.playable .editmode-buttons {
    display: none;
}
.track-list.editable .editmode-buttons {
    display: inline;
    color: #e5dfff;
}
